@tailwind base
@tailwind components
@tailwind utilities

:root
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif
	font-size: 100%
	font-synthesis: none
	text-rendering: optimizeLegibility
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-text-size-adjust: 100%
html
	overflow: hidden scroll
	scroll-behavior: smooth
	transition: none
	scrollbar-width: thin
	scrollbar-color: red

#app
	position: relative
	display: flex
	flex-direction: column
	background-color:#272727
	min-height: 100vh
.content-wrapper
	display: flex
	flex-direction: column
	align-items: center
	width: 100%

.content-container
	display: flex
	flex-direction: column
	align-items: center
	width: 100%
	max-width: 980px
	padding: 0 15px
	
.content
	max-width: 100%
.header-wrapper
	@extend .content-wrapper
	backdrop-filter: blur(8px)
	background-color: rgba(28, 28, 28, 0.8)
	position: sticky
	top: 0
	border-bottom: 1px solid rgba(255, 255, 255, 0.5)
	z-index: 1

.main-wrapper
	@extend .content-wrapper
	flex-grow: 1
.section-wrapper
	@extend .content-wrapper
	flex-grow: 1
.footer-wrapper
	@extend .content-wrapper
